- root = 'notifications/shared'
- confirm_url = public.confirm_signup_url(token: @signup.confirmation_token, host: @signup.host)
= render partial: "#{root}/header"
= render partial: "#{root}/paragraph", locals: { content: t("signup_notifier.confirm.header", name: @signup.first_name) }
= render partial: "#{root}/paragraph", locals: { content: t("signup_notifier.confirm.body") }
= render partial: "#{root}/br"
= link_to confirm_url, confirm_url, { target: '_blank' }
= render partial: "#{root}/footer"
