!!!
%html
  %head
    %title="#{@title}"
    %link{rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png'}
    %link{rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: 'description', content: @description}
    %meta{name: 'theme-color', content: '#ffffff'}

    = csrf_meta_tags
    = stylesheet_link_tag    'public/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'public/application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'semantic.css'
    = javascript_include_tag 'jquery.js'
    = javascript_include_tag 'semantic.js'
  %body
    .background
    %p.notice= notice
    %p.alert= alert
    %div.ui.container{style: 'height: 100%;'}
      = yield
