- root = 'notifications/shared'
= render partial: "#{root}/br"
= render partial: "#{root}/br"
= render partial: "#{root}/br"
= render partial: "#{root}/br"
= render partial: "#{root}/sentence", locals: { content: t("shared.footer.thank_you") }
